*/node_modules
*/dist
*/.env
*/.serverless
*/.vscode
*.iml
/node_modules
/dist
/.env
/.serverless
/.vscode
/.venv
/.idea
/lambda
*secret.yaml

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Jupyter Notebook output
*.ipynb_output/
.ipynb_output/

# VS Code
.vscode/
